@import '/src/styles/colors.css';

.form-control {
  font-size: 1rem;
  padding: 1rem 0.5rem;
}

.button{
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  background-color: var(--lightpurple);
  color: var(--textcolor);
  text-decoration: none;
}

.button:hover{
  border-color: var(--lightpurple); 
  color: var(--black);
  background-color: var(--white);
  border-style: solid;
}

table{    
  margin: 5rem auto;  
}    

.background{
  border: 0.1rem solid;
  box-shadow: 1rem 1rem 1rem var(--grey)
}

.styling{
  border: 0.1rem solid grey;
  box-shadow: 1rem 1rem 1rem var(--grey);
  padding: 2rem 6rem;
  margin: 6rem;
  color:var(--lightpurple)
}

.filter-box {
  height: 3.5rem;
  width: 13rem;
  margin:0.5rem 0 0 1rem;
  border:1px solid var(--lightpurple);
  border-radius: 0.4rem;
}

.dashboard-input {
  position:relative;
}

.label {
  position: absolute;
  background: white;
  z-index: 1;
  color: var(--lightpurple);
  font-size: 1.1rem;
  left: 1rem;
}

.label-input {
  position: relative;
  top: 0.7rem;
  z-index: 2;
  background: white;
  width: auto !important;
  color: var(--lightpurple)
}

.disabled-input{
  background-color: #f8f9fa !important;
  color: #6c757d;
}