@import "/src/styles/colors.css";

.button {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  background-color: var(--lightpurple);
  color: var(--textcolor);
}

.button:hover {
  background-color: var(--white);
  border-color: var(--lightpurple);
  color: var(--black);
}
